/* Global styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

h1 {
  font-size: 3rem;
  color: #007bff;
}

h3 {
  font-size: 1.2rem;
  color: #484b4e;
}

/* Form styles */
form {
  display: flex;
  margin-bottom: 2rem;
}

input[type="text"] {
  padding: 0.5rem;
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: 0.875rem;
  margin-right: 1rem;
  flex: 1;
}
input[type="number"] {
  padding: 0.5rem;
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: 0.875rem;
  margin-right: 1rem;
  flex: 1;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
}

/* Transaction history styles */
.transaction-list {
  margin-top: 2rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.transaction-form {
  background-color: #fff;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  align-items: left;
}

label {
  margin-bottom: 0.5rem;
}


button {
  background-color: #4caf50;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3e8e41;
}

.transaction-list h3 {
  font-size: 1.5rem;
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 0.5rem;
}

td {
  border-bottom: 1px solid #ddd;
  padding: 0.5rem;
}

th.positive {
  color: green;
}

th.negative {
  color: red;
}
button[id="clear-history"] {
  background-color: #484b4e;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}
.income-expense-container {
  display: flex;
  justify-content:left;
  gap: 10px;
}

#income-container, #expense-container {
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button[type="submit"]:hover,
button#clear-history:hover {
  opacity: 0.8;
}